<!DOCTYPE html>
<html lang="en">
  <head>
      {% include meta.html %}
      {% include css.html %}
      {% include analytics.html %}

  </head>
  <body>
    {% include header.html %}
    <!-- Content -->
    <div class="content" style="margin-top: 200px;">

      <h1 class ="grad-text m-b-50">Blog Posts</h1>

      <ul style="list-style: none">
        {% for post in site.posts %}
          <li class="m-t-b-20">
            <h3><a class="color no-underline" href="{{ post.url }}">{{ post.title }}</a></h3>
            {{ post.excerpt }}
          </li>
        {% endfor %}
      </ul>

    </div>
    {% include footer.html %}

    <!-- Animate On Scroll CDN-->
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
    AOS.init({
    duration: 900
    });
    </script>

    <!-- Header Change Color-->
    <script src="{{ site.url }}/assets/js/header.js"></script>

  </body>
</html>
